*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/numberrain2.png");
}

main{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 350px;
    border: 1px solid black;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    box-shadow: 0 0 5rem gray;
}

.display{
    display: flex;
    background-color: #2f2d2e;
    flex: 1.5;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    flex-direction: column;
}

.lastOperationScreen{
    display: flex;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    flex: 1.5;
    justify-content: flex-end; 
    align-items: end; 
    padding-right: 5px; 
    font-size: 20px;
    opacity: 0.7;
}

.currentOperationScreen{
    display: flex;
    flex: 2.5;
    justify-content: flex-end; 
    align-items: end; 
    padding-right: 5px; 
    font-size: 30px;
}

.func{
    flex: 4;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.funcbtn,
.buttonEqual{
    background-color: #f6990d;
}

.ac,
.negative,
.percentage{
    background-color: #434142;
}

.buttons{
    display: flex;
    flex: 1;

}

.button{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border: 0.5px solid gray;
    cursor: pointer;
}

.button:hover{
    opacity: 80%;
}

.number,
.point{
    background-color: #626062;
}

.buttonZero{
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    border: 0.5px solid gray;
    border-bottom-left-radius: 15px;
}

.buttonEqual{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border: 0.5px solid gray;
    border-bottom-right-radius: 15px;
}

footer{
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 250px;
    height: 5%;
    background-color: #bfbfbf;
    border-radius: 7px;
}

footer a{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 5px;
}